<div ng-controller="PlayerController as pCtrl" flex class="player-widget" style="margin: 10px; background-color: #dddddd">
  <md-toolbar layout="horizontal" class="widget-toolbar" style="background-color:#009688;">
    <div style="position:relative; margin-top:auto; margin-bottom:auto; width:100%;text-align:center;">
      Player Stats
    </div>
  </md-toolbar>
  <md-divider/>
  <br/><br/>
  <div layout layout-sm="column">
    <div layout="column" ng-show="!pCtrl.shared.isLoggedIn" flex>
      <md-input-container flex>
        <div layout layout-sm="column">
          <label>Player Name</label>
          <input ng-model="pCtrl.player.name">
        </div>
      </md-input-container>
      <div flex style="margin:10px">
        <md-button class="md-raised md-primary" ng-click="pCtrl.login()" flex> Login </md-button>
      </div>
    </div>

    <div layout="column" layout-sm="column" ng-show="!!pCtrl.shared.isLoggedIn">
      <div>Name: {{pCtrl.player.name}}</div>
      <div>Coins: {{pCtrl.player.coins}}</div>
    </div>
  </div>
</div>
